# --- Compilación y salida de Java ---
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- Carpetas de compilación ---
target/
build/
out/
.gradle/

# --- Configuración de VS Code (Para que no vuelva a subirse) ---
.vscode/
.factorypath

# --- Configuración de IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr

# Excepciones opcionales para IntelliJ (por si quieren compartir diccionarios o run configs básicos)
!.idea/dictionaries
!.idea/compiler.xml

# --- Configuración del Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Permitir explícitamente las librerías del proyecto ---
!lib/
!lib/**/*.jar
